## Extract Most important MIMIC notes

In [2]:
import pandas as pd
from utils import *

config = load_config()
PROJECT_PATH = config.project_path
DATA_PATH = PROJECT_PATH.joinpath("data/processed")

In [3]:
NOTE_PATH = config.note_path
HOSP_PATH = config.hosp_path


discharge = pd.read_csv(Path(NOTE_PATH).joinpath("discharge.csv.gz"), compression="gzip")
# discharge_detail = pd.read_csv(Path(NOTE_PATH).joinpath("discharge_detail.csv.gz"), compression="gzip", nrows=100)
# radiology = pd.read_csv(Path(NOTE_PATH).joinpath("radiology.csv.gz"), compression="gzip", nrows=100)
# radiology_detail = pd.read_csv(Path(NOTE_PATH).joinpath("radiology_detail.csv.gz"), compression="gzip", nrows=100)

def load_mimic_hosp() :
    df = pd.read_csv(Path(HOSP_PATH).joinpath("diagnoses_icd.csv.gz"), compression="gzip")
    return df

mimic_hosp = load_mimic_hosp()

In [24]:
# filter those notes that contains discharge notes
# use the "subject_id" & "hadm_id" as primary key

mimic_hosp['primary_key'] = mimic_hosp.apply(lambda x : str(x['subject_id']) + str(x["hadm_id"]), axis=1)
discharge['primary_key'] = discharge.apply(lambda x :str(x['subject_id']) + str(x["hadm_id"]), axis=1)

In [28]:
intersection = list(set(mimic_hosp.primary_key) & set(discharge.primary_key))

In [31]:
# filter
mimic_hosp_filtered = mimic_hosp[mimic_hosp.primary_key.isin(intersection)].reset_index(drop=True)
discharge_filtered = discharge[discharge.primary_key.isin(intersection)].reset_index(drop=True)

In [38]:
# icd codes to taking only three digits
mimic_hosp_filtered["icd_code_modified"] = mimic_hosp_filtered["icd_code"].apply(lambda x : x[:3])

In [55]:
# Re-import necessary libraries after kernel reset
import pandas as pd
from sklearn.decomposition import TruncatedSVD
from sklearn.cluster import AgglomerativeClustering
from sklearn.feature_extraction.text import CountVectorizer

# Re-load the dataset
icd_data = pd.read_csv(DATA_PATH.joinpath("icd_grouped.csv"))

# Tokenize the icd_code_modified column
vectorizer = CountVectorizer(tokenizer=lambda x: x.split(', '))
X = vectorizer.fit_transform(icd_data['icd_code_modified'])

# Reduce dimensionality with TruncatedSVD
svd = TruncatedSVD(n_components=100, random_state=42)
X_reduced = svd.fit_transform(X)

# Perform hierarchical clustering using AgglomerativeClustering
agglomerative = AgglomerativeClustering(n_clusters=None, distance_threshold=10, linkage='ward')
clusters = agglomerative.fit_predict(X_reduced)

# Add the new clusters to the dataframe
icd_data['cluster'] = clusters

# Save the updated CSV file with cluster information
output_file_path = DATA_PATH.joinpath('icd_grouped_with_clusters.csv')
icd_data.to_csv(output_file_path, index=False)

/home/wjang/miniconda3/envs/cn/lib/python3.12/site-packages/sklearn/feature_extraction/text.py:521: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

:

In [39]:
mimic_hosp_filtered.head()

,subject_id,hadm_id,seq_num,icd_code,icd_version,primary_key,icd_code_modified
0,10000032,22595853,1,5723,9,1000003222595853,572
1,10000032,22595853,2,78959,9,1000003222595853,789
2,10000032,22595853,3,5715,9,1000003222595853,571
3,10000032,22595853,4,07070,9,1000003222595853,070
4,10000032,22595853,5,496,9,1000003222595853,496

In [52]:
# form custom codes per patient 

icd_grouped = mimic_hosp_filtered[["icd_code_modified", "primary_key"]].groupby("primary_key", as_index=False).agg({"icd_code_modified": ", ".join})

In [53]:
icd_grouped.to_csv(DATA_PATH.joinpath("icd_grouped.csv"), index=False)

In [32]:
# save discharge notes that are selected

discharge_filtered.to_pickle(DATA_PATH.joinpath("discharged_filtered.pkl"))

,note_id,subject_id,hadm_id,note_type,note_seq,charttime,storetime,text,primary_key
0,10000032-DS-21,10000032,22595853,DS,21,2180-05-07 00:00:00,2180-05-09 15:26:00,\nName: ___ Unit No: _...,1000003222595853
1,10000032-DS-22,10000032,22841357,DS,22,2180-06-27 00:00:00,2180-07-01 10:15:00,\nName: ___ Unit No: _...,1000003222841357
2,10000032-DS-23,10000032,29079034,DS,23,2180-07-25 00:00:00,2180-07-25 21:42:00,\nName: ___ Unit No: _...,1000003229079034
3,10000032-DS-24,10000032,25742920,DS,24,2180-08-07 00:00:00,2180-08-10 05:43:00,\nName: ___ Unit No: _...,1000003225742920
4,10000084-DS-17,10000084,23052089,DS,17,2160-11-25 00:00:00,2160-11-25 15:09:00,\nName: ___ Unit No: __...,1000008423052089
...,...,...,...,...,...,...,...,...,...
331641,19999828-DS-6,19999828,29734428,DS,6,2147-08-04 00:00:00,2147-08-12 15:36:00,\nName: ___ Unit No: ___...,1999982829734428
331642,19999828-DS-7,19999828,25744818,DS,7,2149-01-18 00:00:00,2149-01-19 07:03:00,\nName: ___ Unit No: ___...,1999982825744818
331643,19999840-DS-20,19999840,26071774,DS,20,2164-07-28 00:00:00,2164-07-29 14:52:00,\nName: ___ Unit No: ___\...,1999984026071774
331644,19999840-DS-21,19999840,21033226,DS,21,2164-09-17 00:00:00,2164-09-18 01:36:00,\nName: ___ Unit No: ___\...,1999984021033226
331645,19999987-DS-2,19999987,23865745,DS,2,2145-11-11 00:00:00,2145-11-11 13:13:00,\nName: ___ Unit No: __...,1999998723865745

   subject_id   hadm_id  seq_num icd_code  icd_version       primary_key
0    10000032  22595853        1     5723            9  1000003222595853
1    10000032  22595853        2    78959            9  1000003222595853
2    10000032  22595853        3     5715            9  1000003222595853
3    10000032  22595853        4    07070            9  1000003222595853
4    10000032  22595853        5      496            9  1000003222595853

In [12]:
# Creating own criteria of ICD Codes

    subject_id   hadm_id  seq_num icd_code  icd_version
0     10000032  22595853        1     5723            9
1     10000032  22595853        2    78959            9
2     10000032  22595853        3     5715            9
3     10000032  22595853        4    07070            9
4     10000032  22595853        5      496            9
..         ...       ...      ...      ...          ...
95    10000764  27897940        2    41071            9
96    10000764  27897940        3     5849            9
97    10000764  27897940        4     2875            9
98    10000764  27897940        5     7802            9
99    10000764  27897940        6     7847            9

[100 rows x 5 columns]

In [22]:
print(discharge.text[0])

Name:  ___                     Unit No:   ___

Admission Date:  ___              Discharge Date:   ___

Date of Birth:  ___             Sex:   F

Service: MEDICINE

Allergies:
No Known Allergies / Adverse Drug Reactions

Attending: ___

Chief Complaint:
Worsening ABD distension and pain

Major Surgical or Invasive Procedure:
Paracentesis


History of Present Illness:
___ HCV cirrhosis c/b ascites, hiv on ART, h/o IVDU, COPD,
bioplar, PTSD, presented from OSH ED with worsening abd
distension over past week.
Pt reports self-discontinuing lasix and spirnolactone ___ weeks
ago, because she feels like "they don't do anything" and that
she "doesn't want to put more chemicals in her." She does not
follow Na-restricted diets. In the past week, she notes that she
has been having worsening abd distension and discomfort. She
denies ___ edema, or SOB, or orthopnea. She denies f/c/n/v, d/c,
dysuria. She had food poisoning a week ago from eating stale
cake (n/v 20 min after food ingestion), which resolved the same
day. She denies other recent illness or sick contacts. She notes
that she has been noticing gum bleeding while brushing her teeth
in recent weeks. she denies easy bruising, melena, BRBPR,
hemetesis, hemoptysis, or hematuria.
Because of her abd pain, she went to OSH ED and was transferred
to ___ for further care. Per ED report, pt has brief period of
confusion - she did not recall the ultrasound or bloodwork at
osh. She denies recent drug use or alcohol use. She denies
feeling confused, but reports that she is forgetful at times.
In the ED, initial vitals were 98.4 70 106/63 16 97%RA
Labs notable for ALT/AST/AP ___ ___: ___,
Tbili1.6, WBC 5K, platelet 77, INR 1.6


Past Medical History:
1. HCV Cirrhosis
2. No history of abnormal Pap smears.
3. She had calcification in her breast, which was removed
previously and per patient not, it was benign.
4. For HIV disease, she is being followed by Dr. ___ Dr.
___.
5. COPD
6. Past history of smoking.
7. She also had a skin lesion, which was biopsied and showed
skin cancer per patient report and is scheduled for a complete
removal of the skin lesion in ___ of this year.
8. She also had another lesion in her forehead with purple
discoloration. It was biopsied to exclude the possibility of
___'s sarcoma, the results is pending.
9. A 15 mm hypoechoic lesion on her ultrasound on ___
and is being monitored by an MRI.
10. History of dysplasia of anus in ___.
11. Bipolar affective disorder, currently manic, mild, and PTSD.

12. History of cocaine and heroin use.


Social History:
___
Family History:
She a total of five siblings, but she is not
talking to most of them. She only has one brother that she is in

touch with and lives in ___. She is not aware of any
known GI or liver disease in her family.
Her last alcohol consumption was one drink two months ago. No
regular alcohol consumption. Last drug use ___ years ago. She
quit smoking a couple of years ago.


Physical Exam:
VS: 98.1 107/61 78 18 97RA
General: in NAD
HEENT: CTAB, anicteric sclera, OP clear
Neck: supple, no LAD
CV: RRR,S1S2, no m/r/g
Lungs: CTAb, prolonged expiratory phase, no w/r/r
Abdomen: distended, mild diffuse tenderness, +flank dullness,
cannot percuss liver/spleen edge ___ distension
GU: no foley
Ext: wwp, no c/e/e, + clubbing
Neuro: AAO3, converse normally, able to recall 3 times after 5
minutes, CN II-XII intact

Discharge:

PHYSICAL EXAMINATION:
VS: 98 105/70 95
General: in NAD
HEENT: anicteric sclera, OP clear
Neck: supple, no LAD
CV: RRR,S1S2, no m/r/g
Lungs: CTAb, prolonged expiratory phase, no w/r/r
Abdomen: distended but improved, TTP in RUQ,
GU: no foley
Ext: wwp, no c/e/e, + clubbing
Neuro: AAO3,  CN II-XII intact


Pertinent Results:
___ 10:25PM   GLUCOSE-109* UREA N-25* CREAT-0.3* SODIUM-138
POTASSIUM-3.4 CHLORIDE-105 TOTAL CO2-27 ANION GAP-9
___ 10:25PM   estGFR-Using this
___ 10:25PM   ALT(SGPT)-100* AST(SGOT)-114* ALK PHOS-114*
TOT BILI-1.6*
___ 10:25PM   LIPASE-77*
___ 10:25PM   ALBUMIN-3.3*
___ 10:25PM   WBC-5.0# RBC-4.29 HGB-14.3 HCT-42.6 MCV-99*
MCH-33.3* MCHC-33.5 RDW-15.7*
___ 10:25PM   NEUTS-70.3* LYMPHS-16.5* MONOS-8.1 EOS-4.2*
BASOS-0.8
___ 10:25PM   PLT COUNT-71*
___ 10:25PM   ___ PTT-30.9 ___
___ 10:25PM   ___
.

CXR: No acute cardiopulmonary process.
U/S:
1. Nodular appearance of the liver compatible with cirrhosis.
Signs of portal
hypertension including small amount of ascites and splenomegaly.

2. Cholelithiasis.
3. Patent portal veins with normal hepatopetal flow.
Diagnostic para attempted in the ED, unsuccessful.
On the floor, pt c/o abd distension and discomfort.

Brief Hospital Course:
___ HCV cirrhosis c/b ascites, hiv on ART, h/o IVDU, COPD,
bioplar, PTSD, presented from OSH ED with worsening abd
distension over past week and confusion.

# Ascites - p/w worsening abd distension and discomfort for last
week. likely ___ portal HTN given underlying liver disease,
though no ascitic fluid available on night of admission. No
signs of heart failure noted on exam. This was ___ to med
non-compliance and lack of diet restriction. SBP negative
diuretics:
> Furosemide 40 mg PO DAILY
> Spironolactone 50 mg PO DAILY, chosen over the usual 100mg
dose d/t K+ of 4.5.
 CXR was wnl, UA negative, Urine culture blood culture negative.

Pt was losing excess fluid appropriately with stable lytes on
the above regimen. Pt was scheduled with current PCP for
___ check upon discharge.
Pt was scheduled for new PCP with Dr. ___ at ___ and
follow up in Liver clinic to schedule outpatient screening EGD
and ___.



Medications on Admission:
The Preadmission Medication list is accurate and complete.
1. Furosemide 20 mg PO DAILY
2. Spironolactone 50 mg PO DAILY
3. Albuterol Inhaler 2 PUFF IH Q4H:PRN wheezing, SOB
4. Raltegravir 400 mg PO BID
5. Emtricitabine-Tenofovir (Truvada) 1 TAB PO DAILY
6. Nicotine Patch 14 mg TD DAILY
7. Ipratropium Bromide Neb 1 NEB IH Q6H SOB


Discharge Medications:
1. Albuterol Inhaler 2 PUFF IH Q4H:PRN wheezing, SOB
2. Emtricitabine-Tenofovir (Truvada) 1 TAB PO DAILY
3. Furosemide 40 mg PO DAILY
RX *furosemide 40 mg 1 tablet(s) by mouth Daily Disp #*30 Tablet
Refills:*3
4. Ipratropium Bromide Neb 1 NEB IH Q6H SOB
5. Nicotine Patch 14 mg TD DAILY
6. Raltegravir 400 mg PO BID
7. Spironolactone 50 mg PO DAILY
8. Acetaminophen 500 mg PO Q6H:PRN pain


Discharge Disposition:
Home

Discharge Diagnosis:
Ascites from Portal HTN


Discharge Condition:
Mental Status: Clear and coherent.
Level of Consciousness: Alert and interactive.
Activity Status: Ambulatory - Independent.


Discharge Instructions:
Dear Ms. ___,
It was a pleasure taking care of you! You came to us with
stomach pain and worsening distension. While you were here we
did a paracentesis to remove 1.5L of fluid from your belly. We
also placed you on you 40 mg of Lasix and 50 mg of Aldactone to
help you urinate the excess fluid still in your belly. As we
discussed, everyone has a different dose of lasix required to
make them urinate and it's likely that you weren't taking a high
enough dose. Please take these medications daily to keep excess
fluid off and eat a low salt diet. You will follow up with Dr.
___ in liver clinic and from there have your colonoscopy
and EGD scheduled. Of course, we are always here if you need us.
We wish you all the best!
Your ___ Team.

Followup Instructions:
___